---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto p-12 text-center m-16">
    <h2 class="text-2xl font-semibold mb-4">¿Por qué elegirnos?</h2>

    <ul class="space-y-4 text-gray-600 list-disc pl-5">
      <p>Productos de alta calidad</p>
      <p>Asesoramiento experto</p>
      <p>Garantía en todos los productos</p>
      <p>Envíos a todo el país</p>
    </ul>
  </div>
</Layout>
