<div class="hero-content text-center">
  <div class="max-w-md">
    <h1 class="text-5xl font-bold">Bienvenido!</h1>
    <p class="py-6">
      Bienvenido a mi tienda de venta de artículos. Encuentra lo que necesitas
      de manera rápida y sencilla.
    </p>

    <a class="outline-none text-white no-underline" href="#productos">
      <button class="btn bg-cyan-800 text-white">Ver Productos</button></a
    >
  </div>
</div>
